*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { height: 100%;}

body {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  color: #000;
  margin: 0;
  z-index: 1;
  background: #fff;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 30px 0 15px;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

h6 {
  text-align: center;
  margin: 0;
  font-size: 10px;
  color: #5b5b5b;
}

.translated {
  text-decoration: underline; 
  text-decoration-color: blue;
}

.original {
  font-weight: bold;
}

.unchanged {
  text-decoration: underline; 
  text-decoration-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  padding: 10px 20px;
}

.lang {
  display: flex;
  flex-direction: column-reverse;
  width:50%;
  flex: 1 0 auto;
    margin: 10px;
  label {
    margin: 0 0 10px;
  }
}

.logo-header {
  width: 100%;
}

.logo-header img {
  margin: 0 auto;
  display: flex;
  max-width:200px;
  padding: 20px 0 20px 0;
}

.help-box {
  width: 100%;
}

.help-box ul {
  display: inline;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  list-style-type: none;
}

.text {
  resize: none;
  width: 100%;
  height: 400px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  border: 2px solid #ddd;
  outline: none;
  overflow:hidden;
  overflow-y:scroll;
}

.icon {
  text-align: center;
}

.sheets-row {
  display:flex;
  align-items:center;
  justify-content:center;
}

input[type=button] {
  cursor:pointer;
  padding: 10px;
  border: 1px solid #bbb;
  background-color:#fff;
}

input[type=button]:hover {
  background-color:#304FFE;
  color:#fff;
}

input[type=button]:focus {
  background-color: #bbb;
  color: #000;
}

.sheets {
  width: 400px;
  margin: 5px;
  padding: 10px;
  border: solid 1px #bbb;
}

body > footer {
  position: sticky;
  top: 100vh;
  padding: 20px;
}


.announcement {
  display: inline-block;
  text-align: center;
  width: 100%;
  background: #0F9D58;
  color: white;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 0.8em;
}

/* Menu FA */

.adminActions {
  position: fixed;
  bottom: 35px; right: 35px;
}

  .adminButton {
    height: 60px;
    width: 60px;
    background-color: rgba(67, 83, 143, .8);
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
  }

    .adminButton i {
      font-size: 22px;
    }

  .adminButtons {
    position: absolute;
    width: 100%;
    bottom: 120%;
    text-align: center;
  }

    .adminButtons a {
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      text-decoration: none;
      margin: 10px auto 0;
      line-height: 1.15;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      position: relative;
      box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
    }

      .adminButtons a:hover {
        transform: scale(1.05);
      }

      .adminButtons a:nth-child(1) {background-color: #ff5722; transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;}
      .adminButtons a:nth-child(2) {background-color: #03a9f4; transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;}
      .adminButtons a:nth-child(3) {background-color: #f44336; transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;}
      .adminButtons a:nth-child(4) {background-color: #4CAF50; transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;}

      .adminActions a i {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
      }

  .adminToggle {
    -webkit-appearance: none;
    position: absolute;
    border-radius: 50%;
    top: 0; left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
  }

    .adminToggle:hover {
      box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
    }

    .adminToggle:checked ~ .adminButtons a {
      opacity: 1;
      visibility: visible;
    }


@media (max-width: 945px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .text {
    height: 300px;
  }
  .lang {
    width:100%;
    margin: 0 auto;
    padding-bottom:20px;
  }
  
}